<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %> 

    <% if (users) { %>
        <h1><%= users.nome %></h1>
      <% } %>

      <form action="/users/perfil" method="post">
          <label for="curio">Coloque algo sobre você</label>
          <input type="text" name="curio" value="curio">
          <button type="submit" value="enviar">Enviar</button>
      </form>
</body>
</html>