<header>
    <h1 id="nav-title">Genshin</h1>
    <nav>
        <ul  class="cabecario">
            <a href="/personagem">Personagens</a>
            <a href="/login.html">Login</a>
            <a href="/personagem/cadastrar.html">Cadastrar</a>
            <a href="/users/perfil">Perfil</a>
        </ul>
    </nav>
</header>
